### Directions
#### You will need to open up the SavvyCoders_SQL_EVtables.db for the first part of the HW.

#### If you need to change databases you will be instructed to do so.

#### Please answer all of the questions in a markdown file. Here is the sample format:

#### 7.1 HW Questions

1. Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry.

2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType.

3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry.

4. Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?

#### Question 1

*SQL Code*
SELECT "ModelYear", "Make", "Model" 
FROM "EVRegistry"

#### Question 2

*SQL Code*
SELECT DISTINCT "ElectricVehicleType" 
FROM "EVRegistry";

#### Question 3

*SQL Code*
SELECT *
FROM "EVRegistry"
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

#### Question 4

*SQL Code*
SELECT Make, Model
FROM "EVRegistry"
WHERE BaseMSRP > 20000 AND BaseMSRP < 35000

#### 7.2 HW Questions

1. Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns.

2. Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.

3. Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest.

4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.

5. Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively.

#### Question 1

*SQL Code*
SELECT *

FROM EVRegistry

WHERE City = NULL

#### Question 2

*SQL Code*
SELECT "Make", "Model", "ElectricVehicleType", VIN
FROM "EVRegistry"
WHERE VIN like '%3E1EA1J'

#### Question 3

*SQL Code*

SELECT "ModelYear", "Make", "Model", "ElectricVehicleType", "ElectricRange" 

FROM "EVRegistry"

WHERE Make = 'TESLA' OR Make = 'CHEVROLET'

ORDER by Make, ModelYear DESC

#### Question 4

*SQL Code*
SELECT  DISTINCT  "sessionId", count(sessionid) as 'Usage', "stationId" 
FROM "EVCharging"
GROUP by stationId
ORDER by Usage DESC
LIMIT 5

#### Question 5

*SQL Code*
SELECT "userId", MIN(chargeTimeHrs) as 'minTime', MAX(chargeTimeHrs) as 'maxTime'

FROM "EVCharging"

WHERE chargeTimeHrs > 0.5

GROUP by userId

ORDER by minTime ASC, maxTime ASC

### Before moving on with the rest of the questions please set up the new database

1. in SQLlite close any open DB

2. file----> Open Database

3. Choose SavvyCoders_SQL_chargeDB.db from the resource repository from this section in the curriculum

4. Make sure that you have 5 tables:
    - dimDay
    - dimFacility
    - dimUser
    - factCharge
    - EVCharging

#### 7.3 HW Questions

1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.

2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.

3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.

4. In your own words, Briefly explain Primary Keys and Foreign Keys.

5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING

#### Question 1

Wednesday has the highest average charging time of the week. The average charging time is 2.94 hours.

#### Question 2

Here is the userId for the user who used the most power charging their EV, 35897499. They used a toal of 1013.26 kwh.

#### Question 3

SELECT dimFacility.typeFacility, factCharge.stationId, count(factCharge.stationID) as 'numStation'

FROM dimFacility, factCharge

GROUP by typeFacility

ORDER by numStation

/* i feel i have done something wrong because my output has the same count of numStations for all four typeFacility */

#### Question 4

A primary key is a unique identifier for every record within a table. Like in the EVCharging table, sessionID is an identifier for all of the values related to that charging session.
A foreign key connects a table to another table. For example, if we are to relate the EVCharging table to the dimUser. If dimUser is the primary table, and the primary key is UserID, then the foreign key would be sessionID in the EVCharging table. Every session of charging relates to the primary table through the userID, primary key.

#### Question 5

SELECT  DISTINCT userId, MIN(chargeTimeHrs) as 'minTime', MAX(chargeTimeHrs) as 'maxTime', chargeTimeHrs

FROM EVCharging

WHERE chargeTimeHrs > 1.00

GROUP by userId

--HAVING chargeTimeHrs > 1.00

ORDER by minTime ASC, maxTIme ASC

/*when I try using HAVING it does not seem to filter out the charge times less than an hour, what should I do. I used where and it did filter it out.*/