# Homework7 Notes from Danielle

Hello @Ayana Scott-Elliston Amazing job on SQL coding! I included some suggestions and examples below. I will keep this ticket open for now, especially if you have any questions. 

Markdown suggestion: One way to make your coding stand out is by the following:

Coding:

![notes](/Users/Toki3Duckie/code/SavvyCoders/Homework/HW7_image1.png)

Markdown feature:

![notes](/Users/Toki3Duckie/code/SavvyCoders/Homework/HW7_image2.png)

7.1 / #4: I suggest adding >= vs. just the greater than sign (>). In order to return Base MSRP between 20000 and 35000, you will add the equal sign to ensure it also catches 20000 or 35000.

7.2 / #1: Another coding alternative is IS NULL vs. = NULL

7.3 / #1 and #2: This one made me laugh! We were hoping for the coding, but after rereading the question, I can see that itâ€™s worded in a way that suggests for the query result. 

7.3 / #3: Example coding: 


<pre>
1 SELECT b.typeFacility ,COUNT(DISTINCT a.stationId) as numStation
2 FROM factCharge AS a
3 INNER JOIN dimFacility AS b ON b.FacilityKey = a.facilityID -- can use JOIN as well as INNER JOIN
4 GROUP BY b.typeFacility --can also use 'GROUP BY 1'
5 ORDER BY COUNT(DISTINCT a.stationId) DESC -- can also use 'ORDER BY 2 DESC'
</pre>

7.3 / #4: For your HAVING question, try adding MIN. Example: HAVING MIN(chargetimeHrs) > 1